<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="../js/x.js"></script>
    <link rel="stylesheet" href="../css/x.css">
</head>
<body>
    <div>
        <label>Name:</label>
        <input type="text" ng-model="yourName" placeholder="Enter a name here">
        <hr>
        <h1>Hello {{yourName}}!</h1>
    </div>
    <div>====</div>

    <div ng-controller="EquationController">
        <input type="text"
            ng-model="equation.x"
            ng-change="change()">
        <code>{{equation.output}}</code>
    </div>
    <div>====</div>

    <form name="signup_form"
            ng-controller="FormController"
            ng-submit="submitForm()" novalidate>

        <div ng-repeat="xField in xFields" ng-form="signup_form_input">
            <input type="text"
                    name="dynamic_input"
                    ng-required="xField.isRequired"
                    ng-model="xField.name"
                    placeholder="{{xField.placeholder}}" />

            <div ng-show="signup_form_input.dynamic_input.$dirty &&
                            signup_form_input.dynamic_input.$invalid">
                <span class="error"
                      ng-show="signup_form_input.dynamic_input.$error.required">
                    The field is required.
                </span>
            </div>
        </div>
        <button type="submit"
                ng-disabled="signup_form.$invalid">
            Submit All
        </button>
    </form>
    <div>====</div>

    <div ng-controller="CounterController">
        <button ng-click="count = count + 1"
                ng-init="count = 0">
            Increment
        </button>
        Counter: {{count}}
        <button ng-click="decrement()">
            Decrement
        </button>
    </div>
    <div>====</div>

    <div ng-controller="CityController">
        <select ng-model="city"
                ng-options="city.name for city in cities">
            <option value="">Choose City</option>
        </select>
        Best City: {{ city.name }}
    </div>
    <div>====</div>

    <form ng-submit="submit()"
          ng-controller="FormController">
        Enter text and hit enter:
        <input type="text"
                ng-model="person.name"
                name="person.name" />
        <input type="submit"
                name="person.name"
                value="Submit" />
        <code>people={{ people }}</code>
        <ul ng-repeat="(index, object) in people">
            <li>{{ object.name }}</li>
        </ul>
    </form>
</body>
</html>